<div>
  <div *ngIf="!!duration" class="currentInfo">
    <h3>Time to Wake Up</h3>
    <h4>Furi Original Soundtrack</h4>
    <h5>Carpenter Brut</h5>
  </div>

  <div class="playerBar">
    <div *ngIf="!!duration" (click)="changePosition($event)">
      <div [ngStyle]="{'width': position}" class="barFill"></div>
    </div>
  </div>

  <div class="info">
    <p class="PlayState">{{playString}}</p>

    <button *ngIf="!!duration" (click)="playPause()">{{playAction}}</button>
    <button *ngIf="!playState" (click)="continue()">Continue</button>
  </div>
</div>
