<div>
  <h1>The DM's DJ Station</h1>
  <p style="display: block; margin: 20px auto; max-width: 800px;">
    This project is a tool for Dungeon Masters who want to stretch a song beyond its normal length.
    A number of loops are defined in the song, and as it plays it will continue to play whatever loop
    it reaches, until the "continue" button is pressed.  This allows seamless transition from part to
    part while still controlling the playback of the song.
  </p>
  <controls></controls>
  <redux-state></redux-state>
</div>
