table {
  max-width: 800px;
  margin: 0px auto;
  border-collapse: collapse;
}

td, th {
  padding: 10px;
  border: solid 1px rgb(245, 245, 245);
}

td img {
  max-width: 80px;
  max-height: 80px;
}

h3 {
  margin: 30px;
}

form {
  width: 400px;
  margin: 0px auto;
}

form > div {
  display: flex;
  flex-direction: row;
  margin: 10px;
}

form > div > label {
  width: 50px;
}

form input, form button {
  flex: 1;
}

.error {
  width: 400px;
  padding: 20px;
  border-radius: 3px;
  margin: 20px auto;
  background: #fcc;
  border: solid 1px red;
}